#content{
    padding-bottom: 20vh;
}

.search-container{
    margin: 4% 20%;
    display: flex;
    align-items: center;
    flex-direction: row;
}
#search-coach-input{
    background-color: white;
    border-radius: 8px;
    box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.2);
    border: 0px solid black;
    padding: 10px 10px;
    flex-grow: 1;
}
#search-coach-input:focus{
    outline: 0px;
}
#submit-btn{
    font-size: larger;
    border: 0px solid black;
    background-color: transparent;
    display: flex;
    align-items: center;
    cursor: pointer;
}

#category-container{
    margin: 4% 5%;
    /* background-color: pink; */
}   
#category-container .category-title{
    /* background-color: teal; */
    display: flex;
    justify-content: center;
}
#category-container .card-container-container{
    /* background-color: blue; */
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#category-container .card-container-container .btn{
    cursor: pointer;
    display: flex;
    font-size: large;
    border: 0px;
    background-color: transparent;
}
#category-container .card-container-container .card-container{
    /* background-color: thistle; */
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    width: max-content;
}

.card{
    background-color: white;
    border-radius: 8px;
    box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.2);

    display: flex;
    align-items: center;

    margin: 5px;
    width: 23vw;
    height: 14vw;
    min-width: 240px;
    min-height: 141px;
}
.card:hover{
    cursor: pointer;
}
.card .profile-photo-container{
    background-color: whitesmoke;
    border-radius: 8px;

    width: 40%;
    height: 80%;
    margin: 15px;

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.card .card-detail{
    width: 50%;
    height: 80%;
    /* background-color: turquoise; */
    white-space: nowrap;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.card .card-detail .card-heading{
    margin: 2%;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: larger;
}
.card .card-detail .card-text{
    margin: 2%;
    text-overflow: ellipsis;
    overflow: hidden;
}

@media screen and (max-width: 768px) {
    .category-title{
        font-size: medium;
    }
    .card-heading{
        font-size: small;
    }
    .card-text{
        font-size: small;
    }
    .card{
        box-shadow: 1px 3px 3px rgba(0, 0, 0, 0.2);
        margin: 1vw;
        min-width: 180px;
        min-height: 130px;
    }
    .search-container{
        margin: 4% 15%;
    }
}

/* modal */
body{
    overflow-y: hidden;
}
.modal-background{
    display: flex;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.8);
    width: 100vw;
    height: 100vh;
    z-index: 100;
    left: 0;
    top: 0;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
}
.modal{
    background-color: white;
    z-index: 200;
    position: absolute;
    width: 90%;
    min-height: 80vh;
    top: 10vh;
}
.modal svg{
    float: right;
    font-size: x-large;
}
.modal svg:hover{
    cursor: pointer;
}

.modal .buffer{
    padding: 0.5vh;
}
.modal .coaches-detail-container{
    display: flex;
    flex-direction: column;
    padding: 1%;
} 
.coaches-detail-container img{
    width: 20vw;

}
.coaches-detail-row{
    display: flex;
    flex-direction: row;
    padding: 1%;
    flex-wrap: wrap;
}
.coaches-detail-column{
    display: flex;
    flex-direction: column;
    padding: 1%;
}
.coaches-detail-row-long{
    display: flex;
    flex-direction: column;
    padding: 1% 2%;
}
.rating{
    display: flex;
    flex-direction: row;
}

/* additional media rule only, 1080px already applied in master.css */
@media screen and (max-width: 320px){ 
    .modal p{
        font-size: small;
        width: 90vw;
    }
}