body{
    margin: 0;
}

nav{
    background-color: rebeccapurple;
    height: 10vh
}
nav li{
    list-style: none;
}
nav li a{
    text-decoration: none;
}

#content{
    background-color: rosybrown;
    min-height: 100vh;
}

footer{
    background-color: seagreen;
    height: 100px;
}